<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Intelligent Deduper</title>
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
		<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet"/>
		<link href="{{ url_for('static', filename='css/datepicker3.css') }}" rel="stylesheet"/>
		<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>

		<!--Custom Font-->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->

        <!-- http://stewartjpark.com/Flask-JSGlue/ -->
        {{ JSGlue.include() }}

		<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
	</head>
	<body>
		<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span></button>
					<a class="navbar-brand" href="{{ url_for('index') }}"><span>Intelligent</span>Deduper</a>
					<div style="float: right;">
						<a class="navbar-brand" href="{{ url_for('howto') }}">How-To</a>
						<a class="navbar-brand" href="{{ url_for('about') }}">About</a>
					</div>
				</div>
			</div><!-- /.container-fluid -->
		</nav>
		<main>
			{% block main%}{% endblock %}
		</main>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/chart-data.js') }}"></script>
		<script src="{{ url_for('static', filename='js/easypiechart.js') }}"></script>
		<script src="{{ url_for('static', filename='js/easypiechart-data.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
		<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
		<script>
			window.onload = function () {
		var chart1 = document.getElementById("line-chart").getContext("2d");
		window.myLine = new Chart(chart1).Line(lineChartData, {
		responsive: true,
		scaleLineColor: "rgba(0,0,0,.2)",
		scaleGridLineColor: "rgba(0,0,0,.05)",
		scaleFontColor: "#c5c7cc"
		});
	};
		</script>

	</body>

</html>